

.navbar-links {
    font-weight: 800!important;
}
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #6A6A6A #DFE9EB;
}*/

.dropdown-toggle::after {
  display: none!important;
}

a:hover {
  color: blue!important;
}

.p {
    line-height: 26px;
}

.navbar-nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: start;
}

.blue-button:hover {
    background: blue!important;
    border-color: blue!important;
    color: white!important;
}
.red-button:hover {
    background: #dc3545!important;
    border-color: #dc3545!important;
    color: white!important;
}
.black-button:hover {
    background: #000000!important;
    border-color: #000000!important;
    color: white!important;
}
  
.bg-theme-secondary {
    background: rgb(0 0 0 / 100%);
}

.image-gallery {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
  
.image-preview {
    width: 32.33%;
    height: 250px;
    object-fit: cover;
}

@media only screen and (max-width: 767px ) {
    .only-desktop {
        display: none!important;
    }
}